.flexbox-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    
    /* margin: 1%; */
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
}


.flexbox-item-1{
    display: flex;
    background-color: rgb(229, 250, 243);
    /* border: 1px solid black; */
    /* min-height: 200px; */
    /* margin: 1%; */
    flex-grow: 1;
    /* width: 200px; */
    /* height: 350px; */
    /* width: 200px; */
    align-items: center;
    justify-content:end;
    flex-direction: column;
    /* flex-shrink: 1; */
}

.flexbox-item-2{
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 250, 243);
    /* border: 1px solid black; */
    justify-content: space-between;
    /* flex-shrink: 1; */
    /* min-height: 100px; */
    /* margin: 1%; */
    /* flex-grow: 1; */
    /* height: 150px; */
    /* width: 200px; */
}
/* .subdiv1{
    display: flex;
    flex-direction: row;
}
.subdiv2{
    display: flex;
    flex-direction: row;
} */

.flexbox-item-3{
    display: flex;
    align-items: center;
    background-color: rgb(229, 250, 243);
    /* border: 1px solid black; */
    /* min-height: 200px; */
    /* margin: 1%; */
    flex-grow: 1;
    /* height: 350px; */
    /* width: 200px; */
    flex-direction: column;
    /* flex-shrink: 1; */
}

#container{
    background-color: #2d96ec;
    width: 5%;
    text-align: center;
    margin: 1%;
    color: aliceblue;
    border-radius: 15%;
    /* padding: 1%; */
}
